$bc-primary: #E5E5E5;
$color-accent: #EA4809;
$color-hover: #7d83d9;

%roboto-700{
   font-family: 'Roboto-Bold', sans-serif;
   font-weight: 700;
}

%roboto-400{
   font-family: 'Roboto-Regular', sans-serif;
   font-weight: 400;
}