<footer class="footer">
   <div class="marquee__block">
      <div class="marquee__inner">
         <div class="marquee__text">
            <img class="img__studio" src="images/studio.svg" alt="text">
            <img class="img__studio" src="images/studio.svg" alt="text">
            <img class="img__studio" src="images/studio.svg" alt="text">
         </div>
         <div class="marquee__text">
            <img class="img__studio" src="images/studio.svg" alt="text">
            <img class="img__studio" src="images/studio.svg" alt="text">
            <img class="img__studio" src="images/studio.svg" alt="text">
         </div>
      </div>
   </div>

   <div class="block__footer">
      <div class="container">
         <h2 class="footer__title">Interested in participating next year?</h2>
         <a class="a__email" href="mailto: admin@html-css.co.ua">
            exchange@andstudio.lt
         </a>

         <h3 class="footer__text">
            All rights reserved © Andstudio & Muttnik <br> + Studioten
         </h3>
      </div>
   </div>



</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>