<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Florence</title>
</head>

<body>
  <div class="wrapper">

    <header class="header">
      <div class="header__bg">
        <div class="container">
          <div class="header__inner">
            <div class="header__logo">
              <a class="logo" href="#">
                <img src="images/logo1.svg" alt="logo">
                <img src="images/logo2.svg" alt="logo">
              </a>
            </div>
            <div class="header__blog">
              <a class="blog" href="#">
                <div class="blog__block">
                  <h2 class="blog__text">blog</h2>
                </div>
              </a>
            </div>
          </div>

          <div class="header__block">
            <div class="block__rotate-left">
              <a class="rotate__text-left">Andstudio & Muttnik + Studioten</a>
            </div>
            <div class="top__inner">
              <h1 class="top__title">Studio exchange.</h1>
            </div>
            <div class="top__img">
              <a class="a__circle" href="#"><img class="img__circle" src="images/circle.svg" alt="circle"></a>
              <a class="a__play" href="#"><img class="img__play" src="images/play.svg" alt="play"></a>
              <div class="top__overlay"></div>
            </div>
            <div class="block__rotate-right">
              <a class="rotate__text-right">June 20 - July 06, Florence & Vilnius</a>
            </div>
          </div>
          <div class="cont__title">
            <h2 class="cont__text">Swapping our design studios
              <br>for 2 weeks for some work and some fun.
            </h2>
          </div>
        </div>
      </div>


    </header>